@use './variables' as *;

body{
    font-family: var(--font-main);
margin: 0;

}

.header{
    max-width: 1440px;
    background-color: var(--bgc);
    padding: 16px 0;

}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logo{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: var(--color-text);
    font-feature-settings: 'liga' off, 'clig' off;
    width: 57px;
    height: 20px;
    padding: 0 16px;
}

.icon{
    width: 28px;
    height: 28px;
}

.hero{
    
    background-size: cover;
    background-color: var(--bgc);
        height: auto;
    max-width: 1440px;
}

.baner {
    display: block;
    width: 100%;
    height: auto;
}