@use '/src/styles/mixins' as *;

.modal {
    position: absolute;
    inset: 0;
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
}

.modal__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 1054px;
}

.modal__content{
/*Layout*/
    display: flex;
    width: 800px;
    height: 865px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
/*Style*/
    border-radius: 16px;
    background: var(--Global-BG, #0F152B);
    margin: 99px 320px;
    z-index: 1;
}



//Section Modal Header

.modal__header{
/*Layout*/
    width: 768px;
    height: 24px;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    // align-self: stretch;
/*Style*/
    border-radius: 16px 16px 0 0;
    background: var(--Global-Fill-dark, #2B324C);
}

.modal__icon{
/*Layout*/
    width: 14px;
    height: 14px;
    flex-shrink: 0;
/*Style*/
    fill: var(--Global-white, #FFF);
}

.modal__heading{
/*Typography*/
    color: var(--Global-white, #FFF);
    text-align: center;
    @include headlines-headlines-h5;
}

.modal__close-btn{
    display: flex;
    border: none;
    width: 24px;
    height: 24px;
    background-color: var(--Global-Fill-dark,
        #2B324C);
    padding: 0;
    cursor: pointer;
}

.modal__close-icon{
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: #FFF;
}



//Section Modal Search

//Modal text

.modal__text{
/*Layout*/
    align-self: stretch;
    margin: 0;
    padding-top: 24px;
/*Typography*/
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    @include bold-lead;
}



//Modal Input

.modal__search{
width: 100%;
}

.modal__label{
    position: relative;
    display: block;
    height: 48px;
    padding: 0 24px;
    
}

.modal__search-icon{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: var(--Greyscale-200, #9FA1AA);
    cursor: pointer;
}

.modal__input{
    background-color: var(--Global-Fill-dark, #2B324C);
    border: none;
    border-radius: 12px;
    width: 700px;
    height: 48px;
    padding-left: 48px;
    color: #FFF;
}

.modal__btn-close{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
}

.modal__close-icon{
    position: absolute;
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: var(--Greyscale-200, #9FA1AA);
}

//Section Modal Top Games

.modal__top-games{
    display: flex;
    flex-direction: column;
    text-align: senter;
    align-self: self-start;
    padding-top: 24px;
    padding-left: 28px;
}

.modal__top-games-heading{
    margin: 0;
    /*Layout*/
    width: 199px;
    /*Typography*/
    color: var(--Global-white, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    @include bold-lead;
}

.modal__games-list{
    padding: 0px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}

//Game cards

.modal__game-card {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    width: 245px;
    height: 216px;
}

.modal__game-card-image {
    width: 100%;
    height: 188px;
}

.modal__game-card-text {
    width: 256px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
}

.modal__game-card-provider {
    width: 16px;
    height: 16px;
    fill: currentColor;
    color: var(--Greyscale-200, #9FA1AA);

}

.modal__game-card-title {
    /* Typograghy */
    color: var(--Greyscale-200, #9FA1AA);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    @include bold-body
}
